In [6]:
import dask.dataframe as dd
from dask.distributed import Client
client = Client(n_workers=4)

In [3]:
client

### Homework 2 Q7

In [4]:

datapath = 'shared/data/midterm/drive_stats_2019_Q1'

In [9]:
restaurants = dd.read_csv('shared/data/hw2_data/Restaurants_in_Durham_County_NC.csv',sep=';',dtype='object')
restaurants_filter = restaurants[(restaurants_data['Rpt_Area_Desc'] == 'Food Service') & (restaurants['Status']  == 'ACTIVE')]

In [10]:
restaurants_filter.compute()

,ID,Premise_Name,Premise_Address1,Premise_Address2,Premise_City,Premise_State,Premise_Zip,Premise_Phone,Hours_Of_Operation,Opening_Date,...,Sewage,Insp_Freq,Est_Group_Desc,Risk,Smoking_Allowed,Type_Description,Rpt_Area_Desc,Status,Transitional_Type_Desc,geolocation
0,56060,WEST 94TH ST PUB,4711 HOPE VALLEY RD,SUITE 6C,DURHAM,NC,27707,(919) 403-0025,NaN,1994-09-01,...,3 - Municipal/Community,4,Full-Service Restaurant,4,NO,1 - Restaurant,Food Service,ACTIVE,FOOD,"35.9207272, -78.9573299"
1,58123,BROOKDALE DURHAM IFS,4434 BEN FRANKLIN BLVD,NaN,DURHAM,NC,27704,(919) 479-9966,NaN,2003-10-15,...,3 - Municipal/Community,4,Nursing Home,4,NO,16 - Institutional Food Service,Food Service,ACTIVE,FOOD,"36.0467802, -78.8895483"
2,70266,SMOOTHIE KING,1125 W. NC HWY 54 SUITE 806,NaN,DURHAM,NC,27707,(919) 489-7300,NaN,2009-07-09,...,3 - Municipal/Community,2,Fast Food Restaurant,2,NO,1 - Restaurant,Food Service,ACTIVE,FOOD,"35.9182655, -78.9593263"
3,97837,HAMPTON INN & SUITES,1542 N GREGSON ST,NaN,DURHAM,NC,27701,(919) 688-8880,NaN,2012-01-09,...,3 - Municipal/Community,2,Full-Service Restaurant,2,NO,1 - Restaurant,Food Service,ACTIVE,FOOD,"36.0183378, -78.9060312"
10,58349,KROGER R 381 MEAT MARKET,3825 S ROXBORO ST,SUITE 101,DURHAM,NC,27707,(919) 361-0470,NaN,2003-03-03,...,3 - Municipal/Community,3,Meat and Poultry Department,3,NaN,30 - Meat Market,Food Service,ACTIVE,FOOD,"35.9495321, -78.9211694"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2453,56881,LA QUINTA INN AND SUITES,4414 CHAPEL HILL BLVD,NaN,DURHAM,NC,27707,(919) 401-9660,NaN,2004-07-28,...,3 - Municipal/Community,2,Fast Food Restaurant,2,NO,1 - Restaurant,Food Service,ACTIVE,FOOD,"35.9454822, -78.9724505"
2454,56774,NINTH STREET BAKERY,136 E CHAPEL HILL ST,NaN,DURHAM,NC,27701,(919) 286-0303,NaN,2003-06-18,...,3 - Municipal/Community,2,Fast Food Restaurant,2,NaN,1 - Restaurant,Food Service,ACTIVE,FOOD,"35.9968356, -78.9023636"
2455,57189,BRUEGGERS BAGELS,626 NINTH STREET,NaN,DURHAM,NC,27705,(919) 286-4900,NaN,2008-05-02,...,3 - Municipal/Community,2,Fast Food Restaurant,2,NO,1 - Restaurant,Food Service,ACTIVE,FOOD,"36.0075308, -78.9219898"
2456,57300,WIMPY'S GRILL,617 HICKS STREET,NaN,DURHAM,NC,27705,NaN,NaN,1990-07-01,...,3 - Municipal/Community,4,Fast Food Restaurant,4,NO,2 - Food Stands,Food Service,ACTIVE,FOOD,"36.013017, -78.9321444"
2462,80309,CILANTRO MEDITERREAN GRILL & PIZZA,5400 S MIAMI BLVD SUITE 102,NaN,DURHAM,NC,27703,(919) 472-2424,NaN,2010-04-07,...,3 - Municipal/Community,3,Fast Food Restaurant,3,NaN,1 - Restaurant,Food Service,ACTIVE,FOOD,"35.8822361, -78.8511586"

### Midterm Q2

#### a) Create a single dataframe from all CSV files in the zip

In [14]:
import dask.dataframe as dd
import os
filename = os.path.join(datapath, '*.csv')


df = dd.read_csv(filename,on_bad_lines = "skip",assume_missing=True)

In [15]:
df.head()

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2019-01-01,Z305B2QN,ST4000DM000,4.000787e+12,0.0,111.0,35673128.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,ZJV0XJQ4,ST12000NM0007,1.200014e+13,0.0,83.0,187116872.0,NaN,NaN,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,ZJV0XJQ3,ST12000NM0007,1.200014e+13,0.0,73.0,19599104.0,NaN,NaN,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,ZJV0XJQ0,ST12000NM0007,1.200014e+13,0.0,81.0,136943696.0,NaN,NaN,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,PL1331LAHG1S4H,HGST HMS5C4040ALE640,4.000787e+12,0.0,100.0,0.0,134.0,103.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### b) Display the dataframe column names as a python list

In [16]:

column_list = list(df.columns)
column_list

['date',
 'serial_number',
 'model',
 'capacity_bytes',
 'failure',
 'smart_1_normalized',
 'smart_1_raw',
 'smart_2_normalized',
 'smart_2_raw',
 'smart_3_normalized',
 'smart_3_raw',
 'smart_4_normalized',
 'smart_4_raw',
 'smart_5_normalized',
 'smart_5_raw',
 'smart_7_normalized',
 'smart_7_raw',
 'smart_8_normalized',
 'smart_8_raw',
 'smart_9_normalized',
 'smart_9_raw',
 'smart_10_normalized',
 'smart_10_raw',
 'smart_11_normalized',
 'smart_11_raw',
 'smart_12_normalized',
 'smart_12_raw',
 'smart_13_normalized',
 'smart_13_raw',
 'smart_15_normalized',
 'smart_15_raw',
 'smart_16_normalized',
 'smart_16_raw',
 'smart_17_normalized',
 'smart_17_raw',
 'smart_22_normalized',
 'smart_22_raw',
 'smart_23_normalized',
 'smart_23_raw',
 'smart_24_normalized',
 'smart_24_raw',
 'smart_168_normalized',
 'smart_168_raw',
 'smart_170_normalized',
 'smart_170_raw',
 'smart_173_normalized',
 'smart_173_raw',
 'smart_174_normalized',
 'smart_174_raw',
 'smart_177_normalized',
 'smart_177_raw',
 'smart_179_normalized',
 'smart_179_raw',
 'smart_181_normalized',
 'smart_181_raw',
 'smart_182_normalized',
 'smart_182_raw',
 'smart_183_normalized',
 'smart_183_raw',
 'smart_184_normalized',
 'smart_184_raw',
 'smart_187_normalized',
 'smart_187_raw',
 'smart_188_normalized',
 'smart_188_raw',
 'smart_189_normalized',
 'smart_189_raw',
 'smart_190_normalized',
 'smart_190_raw',
 'smart_191_normalized',
 'smart_191_raw',
 'smart_192_normalized',
 'smart_192_raw',
 'smart_193_normalized',
 'smart_193_raw',
 'smart_194_normalized',
 'smart_194_raw',
 'smart_195_normalized',
 'smart_195_raw',
 'smart_196_normalized',
 'smart_196_raw',
 'smart_197_normalized',
 'smart_197_raw',
 'smart_198_normalized',
 'smart_198_raw',
 'smart_199_normalized',
 'smart_199_raw',
 'smart_200_normalized',
 'smart_200_raw',
 'smart_201_normalized',
 'smart_201_raw',
 'smart_218_normalized',
 'smart_218_raw',
 'smart_220_normalized',
 'smart_220_raw',
 'smart_222_normalized',
 'smart_222_raw',
 'smart_223_normalized',
 'smart_223_raw',
 'smart_224_normalized',
 'smart_224_raw',
 'smart_225_normalized',
 'smart_225_raw',
 'smart_226_normalized',
 'smart_226_raw',
 'smart_231_normalized',
 'smart_231_raw',
 'smart_232_normalized',
 'smart_232_raw',
 'smart_233_normalized',
 'smart_233_raw',
 'smart_235_normalized',
 'smart_235_raw',
 'smart_240_normalized',
 'smart_240_raw',
 'smart_241_normalized',
 'smart_241_raw',
 'smart_242_normalized',
 'smart_242_raw',
 'smart_250_normalized',
 'smart_250_raw',
 'smart_251_normalized',
 'smart_251_raw',
 'smart_252_normalized',
 'smart_252_raw',
 'smart_254_normalized',
 'smart_254_raw',
 'smart_255_normalized',
 'smart_255_raw']

#### c) Select the number of distinct models in the dataset

In [17]:
u_models = df['model'].unique().compute()
u_models

0                             ST4000DM000
1                           ST12000NM0007
2                    HGST HMS5C4040ALE640
3                            ST8000NM0055
4                             ST8000DM002
5                    HGST HMS5C4040BLE640
6                     TOSHIBA MG07ACA14TA
7                             ST6000DX000
8                      TOSHIBA MQ01ABF050
9                    HGST HUH721212ALN604
10                             ST500LM030
11                          ST10000NM0086
12                           WDC WD60EFRX
13                    TOSHIBA MQ01ABF050M
14                   HGST HUH728080ALE600
15                         WDC WD5000LPVX
16                            ST4000DM005
17                          ST500LM012 HN
18                    TOSHIBA MD04ABA400V
19                        TOSHIBA HDWF180
20                            ST8000DM005
21                         WDC WD1600AAJS
22                   HGST HDS5C4040ALE630
23                            ST6000DM001
24                         WDC WD5000LPCX
25                    TOSHIBA MD04ABA500V
26                Hitachi HDS5C4040ALE630
27                   HGST HUS726040ALE610
28                            ST6000DM004
29                            ST8000DM004
30     Seagate BarraCuda SSD ZA500CM10002
31                   HGST HUH721010ALE600
32                        TOSHIBA HDWE160
33                         WDC WD2500AAJS
34                             ST320LT007
35                         WDC WD5000BPKT
36                           WDC WD40EFRX
37                            ST3160318AS
38                         WDC WD3200BEKX
39                          ST250LM004 HN
40                            ST3160316AS
41                Hitachi HDS724040ALE640
42                   HGST HMS5C4040BLE641
43                         WDC WD3200AAJS
44                         ST1000LM024 HN
45    Seagate BarraCuda SSD ZA2000CM10002
46                                      0
47                   HGST HUH721212ALE600
48                            DELLBOSS VD
49                             ST500LM021
Name: model, dtype: object

#### d) Show only unique models and capacity hard disks, sorted by capacity descending

In [23]:
s_models = df.groupby(['model', 'capacity_bytes']).size()
s_models.compute()

model                                capacity_bytes
HGST HDS5C4040ALE630                  4.000787e+12        3146
HGST HMS5C4040ALE640                  4.000787e+12      316666
HGST HMS5C4040BLE640                  4.000787e+12     1182269
HGST HMS5C4040BLE641                  4.000787e+12          91
HGST HUH721010ALE600                  1.000083e+13        1256
HGST HUH721212ALN604                  1.200014e+13      261214
HGST HUH728080ALE600                  8.001563e+12       94362
HGST HUS726040ALE610                  4.000787e+12        2620
Hitachi HDS5C4040ALE630               4.000787e+12         635
Hitachi HDS724040ALE640               4.000787e+12          30
ST10000NM0086                         1.000083e+13      109464
ST1000LM024 HN                        1.000205e+12          91
ST12000NM0007                         1.200014e+13     2978614
ST250LM004 HN                         2.500594e+11          24
ST3160316AS                           1.600419e+11          42
ST3160318AS                           1.600419e+11          14
ST320LT007                            3.200729e+11          85
ST4000DM000                           4.000787e+12     2006375
ST4000DM005                           4.000787e+12        4884
ST500LM012 HN                         5.001079e+11       51045
ST500LM030                            5.001079e+11       14584
ST6000DM001                           6.001175e+12        1121
ST6000DM004                           6.001175e+12         181
ST6000DX000                           6.001175e+12      136966
ST8000DM002                           8.001563e+12      896202
ST8000DM004                           8.001563e+12         276
ST8000DM005                           8.001563e+12        2268
ST8000NM0055                          8.001563e+12     1305064
Seagate BarraCuda SSD ZA2000CM10002   2.000399e+12         267
Seagate BarraCuda SSD ZA500CM10002    5.001079e+11        1577
TOSHIBA HDWE160                       6.001175e+12         842
TOSHIBA HDWF180                       8.001563e+12        1811
TOSHIBA MD04ABA400V                   4.000787e+12       12771
TOSHIBA MD04ABA500V                   5.000981e+12        4086
TOSHIBA MG07ACA14TA                   1.400052e+13      110285
TOSHIBA MQ01ABF050                    5.001079e+11       47367
TOSHIBA MQ01ABF050M                   5.001079e+11       32888
WDC WD1600AAJS                        1.600419e+11         251
WDC WD2500AAJS                        2.500594e+11          88
WDC WD3200AAJS                        3.200729e+11           3
WDC WD3200BEKX                        3.200729e+11          30
WDC WD40EFRX                          4.000787e+12          95
WDC WD5000BPKT                        5.001079e+11         991
WDC WD5000LPCX                        5.001079e+11        4960
WDC WD5000LPVX                        5.001079e+11       22198
WDC WD60EFRX                          6.001175e+12       30820
ST12000NM0007                        -1.000000e+00         231
HGST HMS5C4040BLE640                 -1.000000e+00         100
ST4000DM000                          -1.000000e+00          97
0                                     9.000000e+01           1
ST4000DM000                           1.374390e+11           1
HGST HMS5C4040ALE640                 -1.000000e+00          18
ST4000DM005                          -1.000000e+00           1
ST8000NM0055                         -1.000000e+00         112
ST8000DM002                          -1.000000e+00          29
HGST HUH721212ALN604                 -1.000000e+00         379
DELLBOSS VD                           4.800368e+11         540
HGST HUH721212ALE600                  1.200014e+13       14040
TOSHIBA MG07ACA14TA                  -1.000000e+00          26
ST500LM021                            5.001079e+11          82
dtype: int64

#### e) Count unique hard drives (serial number). Show the model and count.

In [24]:
count_hd = df[['model','serial_number']]

count_hd = count_hd.groupby(['model']).count()

In [20]:
count_hd.rename(columns = {'serial_number':'model_count'}).compute()

                                     model_count
model
HGST HDS5C4040ALE630                        3146
HGST HMS5C4040ALE640                      316684
HGST HMS5C4040BLE640                     1182369
HGST HMS5C4040BLE641                          91
HGST HUH721010ALE600                        1256
HGST HUH721212ALN604                      261593
HGST HUH728080ALE600                       94362
HGST HUS726040ALE610                        2620
Hitachi HDS5C4040ALE630                      635
Hitachi HDS724040ALE640                       30
ST10000NM0086                             109464
ST1000LM024 HN                                91
ST12000NM0007                            2978845
ST250LM004 HN                                 24
ST3160316AS                                   42
ST3160318AS                                   14
ST320LT007                                    85
ST4000DM000                              2006473
ST4000DM005                                 4885
ST500LM012 HN                              51045
ST500LM030                                 14584
ST6000DM001                                 1121
ST6000DM004                                  181
ST6000DX000                               136966
ST8000DM002                               896231
ST8000DM004                                  276
ST8000DM005                                 2268
ST8000NM0055                             1305176
Seagate BarraCuda SSD ZA2000CM10002          267
Seagate BarraCuda SSD ZA500CM10002          1577
TOSHIBA HDWE160                              842
TOSHIBA HDWF180                             1811
TOSHIBA MD04ABA400V                        12771
TOSHIBA MD04ABA500V                         4086
TOSHIBA MG07ACA14TA                       110311
TOSHIBA MQ01ABF050                         47367
TOSHIBA MQ01ABF050M                        32888
WDC WD1600AAJS                               251
WDC WD2500AAJS                                88
WDC WD3200AAJS                                 3
WDC WD3200BEKX                                30
WDC WD40EFRX                                  95
WDC WD5000BPKT                               991
WDC WD5000LPCX                              4960
WDC WD5000LPVX                             22198
WDC WD60EFRX                               30820
0                                              1
DELLBOSS VD                                  540
HGST HUH721212ALE600                       14040
ST500LM021                                    82

#### f) Get the dataframe summary statistics for the smart_200_normalized attribute.

In [21]:
summ = df['smart_200_normalized'].describe()
summ.compute()

count    3.198673e+06
mean     1.000094e+02
std      1.045312e+00
min      1.000000e+00
25%      1.000000e+02
50%      1.000000e+02
75%      1.000000e+02
max      2.000000e+02
Name: smart_200_normalized, dtype: float64

#### g) Calculate the pairwise frequency of these two columns (e.g. crosstab): model, smart_200_normalized

#### h) Find the mean value of capacity

In [30]:
mean_cap = df['capacity_bytes'].mean().compute()
mean_cap

7803164365225.911

#### i)Find the 10 hard disk models with the highest Multi-Zone Error Rate (smart_200_normalized) rate.

In [31]:

top_ten = df[['model','smart_200_normalized']].sort_values('smart_200_normalized',ascending=False)

In [32]:
top_ten.compute()

                       model  smart_200_normalized
16534         WDC WD2500AAJS                 200.0
16847         WDC WD2500AAJS                 200.0
16653         WDC WD2500AAJS                 200.0
5068          WDC WD1600AAJS                 200.0
16691         WDC WD2500AAJS                 200.0
...                      ...                   ...
106232           ST8000DM002                   NaN
106233  HGST HMS5C4040BLE640                   NaN
106234           ST8000DM002                   NaN
106236  HGST HMS5C4040BLE640                   NaN
106237  HGST HMS5C4040BLE640                   NaN

[9656576 rows x 2 columns]

In [33]:
top_ten.nlargest(10,'smart_200_normalized').compute()

                model  smart_200_normalized
16534  WDC WD2500AAJS                 200.0
16847  WDC WD2500AAJS                 200.0
16653  WDC WD2500AAJS                 200.0
5068   WDC WD1600AAJS                 200.0
16691  WDC WD2500AAJS                 200.0
5057   WDC WD1600AAJS                 200.0
31536  WDC WD1600AAJS                 200.0
19028  WDC WD1600AAJS                 200.0
43263  WDC WD1600AAJS                 200.0
68487  WDC WD1600AAJS                 200.0

 #### j)  Show all models and capacities with zero or no Multi-Zone Error Rate (smart_200_normalized) rate.

In [35]:
col = ['model','capacity_bytes']

In [38]:
no_null = df[(df.smart_200_normalized== 0)|(df.smart_200_normalized.isnull())][col]
no_null.compute()

                       model  capacity_bytes
0                ST4000DM000    4.000787e+12
4       HGST HMS5C4040ALE640    4.000787e+12
5               ST8000NM0055    8.001563e+12
9               ST8000NM0055    8.001563e+12
10               ST4000DM000    4.000787e+12
...                      ...             ...
106232           ST8000DM002    8.001563e+12
106233  HGST HMS5C4040BLE640    4.000787e+12
106234           ST8000DM002    8.001563e+12
106236  HGST HMS5C4040BLE640    4.000787e+12
106237  HGST HMS5C4040BLE640    4.000787e+12

[6457903 rows x 2 columns]